#matrix {
	margin: 20px;
	padding: 0px;
	border: 2px solid black;
	width: 520px;
	height: 520px;
	background-color: rgb(146, 145, 141);	
    float: left;
	z-index: 4;
}

#top_panel {
    width: 520px; 
    height: 52px; 
    border: 2px solid black; 
    margin: 0px 0px 0px 20px;
}

#left_panel {
    /* position: relative;  */
    width: 52px; 
    height: 520px; 
    border: 2px solid black; 
    /* left: 570px; 
    top: 20px; */
}
.cell {
	float: left;
	border: 1px solid black;
	width: 50px;
	height: 50px;
	background-color: rgb(146, 145, 141);	
}

.panel_left_cage {
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
	font-size: 30pt;
	text-align: center;
	width: 50px;
	height: 50px;
	background-color: rgb(146, 145, 141);	
}

.panel_cage {
    float: left;
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
	font-size: 30pt;
	text-align: center;
	width: 50px;
	height: 50px;
	background-color: rgb(146, 145, 141);	
}

img {
    width: 50px;
	height: 50px;
}

#baner { 
	visibility: hidden;
	position: relative; 
	border: 2px solid #000;
	box-shadow: 0.4em 0.4em 5px #7a7a7a94;
	font-size: 20pt;
	text-align: center;
	padding-top: 10px;
	width: 150px;
	height: 70px;
	background-color: rgb(146, 145, 141);	
	top: -350px;
	left: 250px;
	z-index: 50;
}