#matrix {
	margin: 5px;
	padding: 0px;
	border: 2px solid black;
	background-color: rgb(146, 145, 141);	
    float: left;
	z-index: 4;
}

#top_panel { 
    border: 2px solid black; 
    margin: 5px;
}

#left_panel {
    border: 2px solid black; 
}
.cell {
	float: left;
	border: 1px solid black;
	background-color: rgb(146, 145, 141);	
}

.panel_left_cage {
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
	text-align: center;
	background-color: rgb(146, 145, 141);	
}

.panel_cage {
    float: left;
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
	text-align: center;
	background-color: rgb(146, 145, 141);	
}

#baner { 
	visibility: hidden;
	position: relative; 
	border: 2px solid #000;
	box-shadow: 0.4em 0.4em 5px #7a7a7a94;
	font-size: 20pt;
	text-align: center;
	padding-top: 10px;
	width: 150px;
	height: 70px;
	background-color: rgb(146, 145, 141);
	z-index: 50;
}